@-webkit-keyframes vibrate-1 
  0% 
    -webkit-transform: translate(0)
            transform: translate(0)
  
  20% 
    -webkit-transform: translate(-2px, 2px)
            transform: translate(-2px, 2px)
  
  40% 
    -webkit-transform: translate(-2px, -2px)
            transform: translate(-2px, -2px)
  
  60% 
    -webkit-transform: translate(2px, 2px)
            transform: translate(2px, 2px)
  
  80% 
    -webkit-transform: translate(2px, -2px)
            transform: translate(2px, -2px)
  
  100% 
    -webkit-transform: translate(0)
            transform: translate(0)
  

@keyframes vibrate-1 
  0% 
    -webkit-transform: translate(0)
            transform: translate(0)
  
  20% 
    -webkit-transform: translate(-2px, 2px)
            transform: translate(-2px, 2px)
  
  40% 
    -webkit-transform: translate(-2px, -2px)
            transform: translate(-2px, -2px)
  
  60% 
    -webkit-transform: translate(2px, 2px)
            transform: translate(2px, 2px)
  
  80% 
    -webkit-transform: translate(2px, -2px)
            transform: translate(2px, -2px)
  
  100% 
    -webkit-transform: translate(0)
            transform: translate(0)
  

    
.chop_cart_product 
    height: 1142px 

.cart_tables
    height: 623px
    width: 1142px
    margin: 0 auto
    margin-top: 90px

.cart_ul
    display: flex
    justify-content: space-between

li.cart.ul 
    font-size: 13px
    font-weight: bold
    color: #222222
    letter-spacing: -0.01em
    line-height: 20px
    text-transform: uppercase

li.cart_li_1
    font-size: 13px
    font-weight: bold
    color: #222222
    letter-spacing: -0.01em
    line-height: 20px
    text-transform: uppercase

.position_li_2
    margin-left: 400px

.cart_product_1
    height: 115px
    width: 1142px

.position_product_1
    margin-top: 20px
    margin-bottom: 22px

.cart_img
    height: 115px
    width: 100px

.position_cart_img
    display: flex 

.position_text_1
    margin-top: -100px
    margin-left: 121px

.position_text_2
    padding-bottom: 38px

.cart_text_2
    font-size: 13px
    color: #222222
    text-transform: uppercase

span.cart_text_3
    font-size: 13px
    color: #575757
    line-height: 20px

span.cart_text_4
    font-size: 13px
    font-weight: 300
    color: #6f6e6e
    line-height: 20px
    
.position_price_1
    display: flex
    padding-left: 475px
    padding-top: -15px
    margin-top: -65px

.position_price_2
    display: flex
    margin-left: 743px
    margin-top: -25px

.position_price_3
    display: flex
    margin-left: 860px
    margin-top: -20px

.position_price_4
    display: flex
    margin-left: 990px
    margin-top: -20px

.div_text_5
    height: 30px
    width: 54px
    background-color: #ffffff
    border: 1px solid #eaeaea

.position_div_text_5
    margin-left: 600px
    margin-top: -25px

.position_text_4
    display: flex 
    justify-content: center

.color_cancel
    color: #c0c0c0

.color_cancel:hover
    color: $colorDisainer

.boders_cart 
    height: 1px
    width: 1140px
    margin-top: 20px
    margin-bottom: 20px
    border-top: 1px solid #eaeaea

.cart_button
    display: flex
    justify-content: space-between
    margin-top: 44px
    height: 50px
    width: 1142px

.cart_button_1
    display: flex
    height: 50px
    width: 235px
    justify-content: center
    align-items: center
    border: 1px solid #eaeaea

.button_text_cart
    font-size: 14px
    font-weight: bold
    color: #4a4a4a
    text-transform: uppercase

.button_text_cart:hover
    color: $colorDisainer

.adress_cart
    display: flex
    height: 268px
    width: 1142px
    justify-content: space-between
    margin: 0 auto
    margin-top: 63px

.adress_column_1
    display: flex
    flex-direction: column
    height: 268px
    width: 350px

.adress_column_2
    display: flex
    flex-direction: column
    height: 214px
    width: 360px
    background-color: #f5f3f3

.adress_h
    font-size: 16px
    font-weight: bold
    color: #222222
    text-transform: uppercase

.adress_h_des
    font-size: 16px
    font-weight: bold
    color: #f16d7f
    text-transform: uppercase
    padding-left: 15px

.position_h
    margin-left: 153px
    margin-bottom: 40px

.adress_p_1
    display: flex
    font-size: 14px
    font-weight: 300
    color: #000000

.adress_p_2
    display: flex
    font-size: 11px
    color: #4a4a4a
    text-transform: uppercase

.position_p_1
    margin-top: 28px
    margin-bottom: 25px

.position_p_2
    margin-top: 40px
    margin-bottom: 14px
    margin-left: 218px

.position_p_3
    padding-left: 15px

.adress_details
    height: 45px
    width: 355px
    background-color: white

.summary_adress 
    display: flex
    position: relative
    align-items: center
    font-size: 14px
    font-weight: bold
    color: $colorSummaryText
    line-height: 20px
    text-transform: uppercase
    padding: 18px 16px
    height: 37px
    width: 355px
    border: 1px solid black
    margin-top: 22px
    margin-bottom: 20px 

details .summary_adress ::-webkit-details-marker
    display: none

details .summary_adress:after 
    content: '\f107'
    font-family: "Font Awesome 5 free"
    position: absolute
    left: 253px

details[open] .summary_adress
    color: $colorDisainer

details[open] .summary_adress:after 
    content: '\f106'
    position: absolute
    left: 253px
    color: $colorDisainer

.summary_adress[open]:after 
    color: $colorDisainer

.adress_div_1
    display: flex
    align-items: center

.adress_div_2
    display: flex
    justify-content: center
    align-items: center
    height: 35px
    width: 100px
    background-color: white
    border: 1px solid black

.adress_div_2:hover
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16)

.adress_text_1
    display: flex
    font-size: 13px
    font-weight: 300
    color: #b1b1b1

.adress_text_2
    display: flex
    font-size: 11px
    font-weight: bold
    color: #4a4a4a
    text-transform: uppercase

.button_Account_2
    display: flex
    justify-content: center
    align-items: center
    border: $borderAtribute $colorDisainer
    background-color: $colorDisainer
    height: 50px
    width: 273px
    color: white
    

.button_Account_2:hover
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16)
    animation: vibrate-1 0.3s linear infinite both
    

.position_button_2
    margin-left: 44px

.button_text_cart
    display: flex
    font-size: 16px
    font-weight: bold
    color: #4a4a4a
    text-transform: uppercase

.button_text_cart_2
    display: flex
    font-size: 16px
    font-weight: bold
    color: #fff
    text-transform: uppercase

.button_text_cart:hover
    transition: scale(1.05)

input[type="text_2"] 
    height: 45px
    width: 355px
    background-color: white
    margin-bottom: 20px
    padding-left: 18px
    padding-right: 18px
    background-color: #fff
    border: 1px solid #5e4545
    border-radius: 0px 3px 3px 0px


